.cool-bg {
    background: linear-gradient(270deg, #15dba8, #15686c);
    background-size: 400% 400%;

    -webkit-animation: CoolBg 20s ease infinite;
    -moz-animation: CoolBg 20s ease infinite;
    animation: CoolBg 20s ease infinite;

    display: table;
    margin: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    padding: 25px;
}

@-webkit-keyframes CoolBg {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}

@-moz-keyframes CoolBg {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}

@keyframes CoolBg {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}

